@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  --ijo: #00ffb3;
  --biru-muda: rgb(104, 195, 255);
  --kuning: rgb(255, 201, 99);
  --light: #eaeaea;
  --semi-light: #949494;
  --dark: #222;
  --semi-dark: #333;
}

body {
  font-family: "Fira Code", monospace;
  background-color: var(--dark);
  color: var(--light);
  min-height: calc(100vh + 8rem);
  position: relative;
}

#root {
  padding-bottom: 10rem;
}

* {
  margin: 0;
  padding: 0;
}

h2,
h4 {
  text-align: center;
}

a {
  color: var(--biru-muda);
}

footer {
  width: 100%;
  padding: 2rem 0;
  position: absolute;
  background-color: black;
  text-align: center;
  bottom: 0;
  position: absolute;
}

footer::before {
  content: "";
  width: 100%;
  height: 3rem;
  border-radius: 0 0 1rem 1rem;
  display: inline-block;
  background-color: var(--dark);
  top: -2rem;
  position: absolute;
  left: 0;
}

.container {
  max-width: 75rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.key {
  color: var(--ijo);
}

.value {
  color: var(--kuning);
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.logo-bg {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  border: 2px solid var(--light);
  outline: 2px solid var(--dark);
}

.github-logo {
  fill: var(--light);
}

.coffe-logo {
  width: 20px;
  fill: var(--light);
}

.card-wrapper {
  background-color: var(--semi-dark);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--semi-light);
  border-radius: 0.25rem;
  overflow-x: auto;
}

.dot {
  width: 0.1rem;
  height: 0.8rem;
  margin-right: 0.3rem;
  background-color: #fff;
  border: 0.5px solid var(--light);
  display: inline-block;
  line-height: 0.2rem;
}
